.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: (0, 0, 1);
  font-weight: 100;
  font-style: "Inter SemiBold";
}

body{
    font-family: "Inter";    
}

nav{
    background-color: rgb(255, 255, 255);
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}


.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  }

  
  #container-center a:hover {
    color: blue;
}

.sign-up-free {
  color: blue;
}

.container-log a:first-child {
  border-right: 1px solid #000; 
  padding-right: 10px; 
  margin-right: 10px;
}
